body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
}

.button{
    background-color: darksalmon;
    padding: 5px;
    margin: 5px;
    width: 100px;
    color: white;
    border-radius: 5px;
}

.button:hover{
    background-color: indianred;
}